.heading_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-bottom: 0.75em;
}
@media (max-width:800px) {
    .heading_name{
        font-size: 1.6em;
    }
    
    .heading_decor{
        width: 3.5em;
    }
}